@import url("https://fonts.googleapis.com/css?family=Play&display=swap");

.App {
  text-align: center;
}

.custom-navbar {
  border-bottom: 1px solid #cccccc;
}

.custom-brand {
  font-size: 1.5rem;
}

.custom-nav-link {
  color: black;
  font-family: "Play", sans-serif;
  font-size: 1.1rem;
}

.custom-nav-link:hover {
  color: grey;
}

.active {
  color: rgb(255, 82, 82);
}

.active:hover {
  color: rgb(255, 82, 82);
}
